<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />


    <!-- Custom File's Link -->
    <link rel="stylesheet" href="\css\sitestyle.css">
    <link rel="stylesheet" href="css/responsive-style.css">
    <title>Resources</title>
</head>
<body>
    <section id="features" class="services_wrapper">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-12 text-center mb-5">
                    <h3>RESOURCES </h3>
                    <p>These are the resources helpful for your next interview.<br
                            class="d-none d-lg-block">
                        These are the companies visited at the time of this project.</p>
                </div>
                <!-- <div class="col-lg-3 col-sm-6 mb-4" href="/homeRoutes">
                    <div class="card rounded-0 border-0 text-center py-5 px-3"href="/homeRoutes" >
                        <div>
                            <img src="./img/services-img/seo.webp" href="/homeRoutes">
                        </div>
                        <a class="text-uppercase mt-4 mb-3" href="/homeRoutes">Barclays</a>
                        
                    </div>
                </div> -->
                
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card rounded-0 border-0 text-center py-5 px-3">
                        <div>
                            <img src="./img/services-img/company-img/google.png">
                        </div>
                        <a class="text-uppercase mt-4 mb-3" href="/google">Google</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card rounded-0 border-0 text-center py-5 px-3">
                        <div>
                            <img src="./img/services-img/company-img/amazon.png">
                        </div>
                        <a class="text-uppercase mt-4 mb-3" href="/amazon">Amazon</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card rounded-0 border-0 text-center py-5 px-3">
                        <div>
                            <img src="./img/services-img/company-img/wallmart.png">
                        </div>
                        <a class="text-uppercase mt-4 mb-3" href="/wallmart">Wallmart</a>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card rounded-0 border-0 text-center py-5 px-3">
                        <div>
                            <img src="./img/services-img/company-img/microsoft.png">
                        </div>
                        <a class="text-uppercase mt-4 mb-3" href="/microsoft">Microsoft</a>
                        
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card rounded-0 border-0 text-center py-5 px-3">
                        <div>
                            <img src="./img/services-img/company-img/apple.png">
                        </div>
                        <a class="text-uppercase mt-4 mb-3" href="/resources">Apple</a>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card rounded-0 border-0 text-center py-5 px-3">
                        <div>
                            <img src="./img/services-img/company-img/ibm.png">
                        </div>
                        <a class="text-uppercase mt-4 mb-3" href="/resources">IBM</a>
                        
                    </div>
                </div> -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card rounded-0 border-0 text-center py-5 px-3">
                        <div>
                            <img src="./img/services-img/company-img/resumetips.png">
                        </div>
                        <a class="text-uppercase mt-4 mb-3" href="/rtips">Resumetips</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>