<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\companies.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Interview Experience System</title>
</head>
<body>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/resources"><i class="fas fa-angle-double-left"></i> Back</a>
            </div>
         </div>
         

         <!-- form handling -->
<form   method="POST" id="update_user">
    <div class="new_user"  >
        <div class="form-title text-center" >
            <h1 class="text-dark" style="color: white;">Tips for Resume Building</h1>
            <!-- <span class=""> Read on to find 'Interview Experiences' of all product and service-based companies</span> -->
        </div>


        
        <div class="form-group">
            <label for="name" class="text-dark">What does resume mean?</label>
            <input type="hidden" name="id" value="">
            <p>Resume is a consolidated summary about your objective, skills, credentials, educational background, experience, and interests. It helps the recruiter to place you in the appropriate job profile. It is also a quick advertisement of who you are. It is a marketing tool in which the content should be adapted to suit each individual job application and/or applications aimed at a particular industry.</p>
        <p>The resume is usually one of the first items, along with a cover letter and sometimes an application for employment, which a potential employer sees regarding the job seeker and is typically used to screen applicants, often followed by an interview.

            A resume is typically limited to one or two pages of size A4 or Letter-size, highlighting only those experiences and qualifications that the applicant considers most relevant to the desired position.</p>
        </div>
    
        <div class="form-group">
            <label for="inttype" class="">Structure of Resume –</label>
            <p>Header and Footer: A resume starts with the header and the footer section. You should also have the appropriate left and right margin. The header section must have your name, email and phone number. Some people also put their social media contact there nowadays; many hiring organizations would check your social profile as well. You can also have your photograph placed around this section or the next section.</p>
        <p>Career Goal / Objective (optional): The goal of an objective is to explain what you bring to the table and how you can help yourself and the company to meet each other’s goals. The rest of the resume should support your objective. A career objective is NOT a statement about telling the employer what you want.
            If you include this section it should be a sentence or two about your employment goals. A customized objective that describes why you are the perfect candidate for the job can help your resume stand out from the competition.</p>
        <p>It is vital that you include the name of the organization you are applying for in your objective. This lets the hiring manager know that you have an honest interest in working with them.
            For high school and college students applying for an internship, a career objective should showcase their character traits, relevant skills, and abilities. Here are some examples of how the students can format theirs:
            “Seeking a summer internship in ABC company where I can utilize my analytical & reasoning skills for organizational development to achieve the goal.”
            “Looking for a challenging career to show the best of my professional ability, skills and techniques to enhance my knowledge and growth in Electronics and Telecom industry.”
            “To obtain a challenging position that enables me to gain valuable commercial experience and improve the software design and development skills that I gained as part of my degree course and academic projects”
            Educational Qualifications
            You can place either Education before Experience or vice-versa. For Internship resume, Education section is recommended to be placed before Experience section. Also, put highest degree first, followed by the next. Typically, last two degrees should be sufficient.
            This section includes:
            Full name of university.
            Location of university.
            Degree.
            Anticipated graduation date.
            GPA if over 6.0
            Courses (optional)
            For Internship resume, students can also add this section and put down the relevant courses undertaken to show you have the basic knowledge of the topic/industry you are applying for.</p>
        </div>

        <div class="form-group">
            <label for="name" class=""></label>
        </div>
        <div class="form-group">
            <label for="name" class="">Projects</label>
            <p>This is an important section where you can showcase some of the work you have done demonstrating your mastery over the skills you mentioned above. Students should include the topics that are relevant to the internship and that will help the employer understand how you will perform at their organization. In general, students incorporate major/minor projects.
                Achievements / Honors / Awards / Certifications / Patents / Extracurricular activities
                Put down your key Achievements, Honors, and Awards worth mentioning. Avoid putting down irrelevant details up here. If you have certifications, mention the title, license number if available, certification body, grant date and a link to the certification body. Similarly, for patents, provide the title, grant date and a link to the patent.
                Recommendations
                Students / graduates can get recommendations from their professors. In case you have been an intern, insure to get recommendation from your mentor at the organization where you did your internship.
                Important Points for writing a resume:
                The length of resume should be 1-2 pages.
                Arial and Times New Roman are recommended fonts for resume.
                Font size 11 or 12 is recommended.
                Avoid any grammatical and spelling errors.
                Always put correct information in your resume.
                As you are going to be interviewed on the basis of your resume, so mention only those topics about which you are sure and knowledgeable.
                Most importantly, keep your resume short and precise, as no one has so much time to read long resumes.</p>
        </div>

        


    </div>
</form>
    </div>
</main>

</body>
</head>
</html>