<!-- form handling -->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name:</label>
            <!-- <input type="hidden" name="id" value=""> -->
            <input type="text" name="name" value="" placeholder="">
        </div>
        
        <!-- <div class="form-group">
            <label for="name" class="text-light">Email:</label>
            <input type="text" name="username" value="" placeholder="">
        </div> -->

        <!-- <div class="form-group">
            <label for="name" class="text-light">Password:</label>
            <input type="password" name="password" value="" placeholder="">
        </div> -->
        
       
        <div class="form-group">
            <label for="inttype" class="text-light">Interview type:(Internship/ Placement) </label>
            <input type="text" name="inttype" value="" placeholder="">
        </div>
       
        <div class="form-group">
            <label for="name" class="text-light">Company:</label>
            <input type="text" name="company" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">About Company:</label>
            <input type="text" name="experience" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Company Requirements:</label>
            <input type="text" name="requirements" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Interview Process:(How many rounds were conducted by the company?)</label>
            <input type="text" name="process" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Questions asked:</label>
            <input type="text" name="questions" value="" placeholder="">
        </div>

       

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>