<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\companies.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Interview Experience System</title>
</head>
<body>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/resources"><i class="fas fa-angle-double-left"></i> Back</a>
            </div>
         </div>
         

         <!-- form handling -->
<form   method="POST" id="update_user">
    <div class="new_user"  >
        <div class="form-title text-center" >
            <h1 class="text-dark" style="color: white;">Previously asked questions in Microsoft Interviews</h1>
            <!-- <span class=""> Read on to find 'Interview Experiences' of all product and service-based companies</span> -->
        </div>


        
        <div class="form-group">
            <label for="name" class="text-dark">1.	Given an array of integers and unique values, write a code to find if the sum of any two integers in the array is equal to a given value. </label>
            <input type="hidden" name="id" value="">
        </div>
    
        <div class="form-group">
            <label for="inttype" class="">2.	You’re given a two-dimensional array with integers of unique values. Write a code to make the entire row or column zero if any given element in the array is zero.</label>
        </div>

        <div class="form-group">
            <label for="name" class="">3.	You’re given two linked lists, and each linked list has an integer value. Write a code to add the two linked lists and return the sum value. </label>
        </div>
        <div class="form-group">
            <label for="name" class="">4.	You’re given the root of a binary tree. Write a code to show the node values at every level. </label>
        </div>

        <div class="form-group">
            <label for="requirements" class="">5.	You’re given a binary search tree where two nodes are swapped. Write a code to correct the given binary search tree. </label>
        </div>
        <div class="form-group">
            <label for="requirements" class="">6.	You’re given a rotated array which is sorted. Write a code to find a particular element in the given array. </label>
        </div>
        <div class="form-group">
            <label for="requirements" class="">7.	Write a code to check if a binary tree is a valid binary search tree.  </label>
        </div>
        <div class="form-group">
            <label for="requirements" class="">8.	Write a code to check if the permutation of a given string is a palindrome or not.  </label>
        </div>
        <div class="form-group">
            <label for="requirements" class="">9.	Write a code to check if a given binary tree is balanced or not.  </label>
        </div>
        


    </div>
</form>
    </div>
</main>

</body>
</head>
</html>